{% extends "layout.html" %}

{% block content %}
<h1> Post </h1>

{% comment %} <pre>{{posts}} </pre> {% endcomment %}

{% comment %} Desde la clase de models.py  {% endcomment %}
{% for post in posts %}

<h2> {{post.titulo}}  </h2>
{% comment %} Fecha formateada {% endcomment %}
<h3> {{post.date | date:'M d Y' | upper}}  </h3>

{% comment %} decir que solo me muestre 100 caracteres : truncatechars:100 {% endcomment %}
{% comment %} decir que intreprete el html que he puesto en la descripcion : stringtags  {% endcomment %}
<p>  {{post.descipcion | striptags | truncatechars:100}} </p>
{% comment %} descipcion {% endcomment %}

<img src = '{{post.imagen.url}}' alt = '{{post.titulo}}'>


{% comment %} #para navegar a una de la publiaciones  {% endcomment %}
<a href = '{% url 'blog:post_detail' post.id %}'> {{post.titulo}} <a>
    
    
    
    {% endfor %}
    
{% endblock content %}